@import "{}/node_modules/bootstrap/scss/bootstrap.scss",
		url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
  font-family: 'Open Sans Condensed';
}

.imglogo {
	padding-right: 10px;
}

.userbtn {
	padding-right: 8px;
}

.forms {
	padding-top: 20px;
}

.list{
	margin: 10px;
}

.btn-date {
	font-weight: bold;
	font-size: .75em;
	padding-right: 10px;
}

.aproy {
	background-color: #e6edfa;
}

.btn-title {
	color: #3472ed;
	font-weight: bold;
	padding-right: 20px;
}

.btn-subtitle {
	font-weight: bold;
	font-size: .75em;
}

.btn-desc {
	font-size: .85em;
}

.btn-newproy {
	float: right;
}

.btn-submit {
	margin-bottom: 4px;
}

#map {
  height: 600px;
  width: 100%;
}

.mapa {
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: grey;
	margin: 10px;
}